.container {
  height: 800px;
}

.loader {
  width: 100%;
  height: 800px;
}

.loader-text {
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 300;
}
.movies {
  width: 85%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 60px;
}
