* {
  box-sizing: border-box;
}

body {
  background-color: #eff3f7;
}

.movie {
  width: 40%;
  height: auto;
  margin: 70px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.movie-img {
  position: relative;
  top: -30px;
  width: 150px;
  height: 200px;
  margin: 10px 20px;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
}
.movie-data {
  text-align: center;
}
.movie-title {
  text-align: left;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 20px;
  color: #2c2c2c;
}
.movie-year {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
  opacity: 0.5;
}
.movie-year,
.movie-title {
  font-weight: 500;
}
.genres {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px 0px;
}
.genres-genre {
  list-style: none;
  margin-right: 10px;
}
.movie-year,
.genres-genre {
  color: #b2b3bc;
  opacity: 0.8;
}
.movie-summary {
  color: #b2b3bc;
  margin: 5px 0px;
  text-align: left;
  margin-bottom: 20px;
  font-size: 12px;
}
